.navbar {
    display: flex;
    background-color:tomato;
    height: 5em;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.2);
}


.navbar-content > a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navbar-content > a:hover {
    color: white;
    border-bottom: 2px solid white;
}
